<h1>Listing People</h1>

<%= form_tag("/found_people", method: "get") do %>
  <%= label_tag(:first_name, "First Name:") %>
  <%= text_field_tag(:first_name, @old_search_params[:first_name]) %>

  <%= label_tag(:last_name, "Last Name:") %>
  <%= text_field_tag(:last_name, @old_search_params[:last_name]) %>

  <%= label_tag(:location, "Location:") %>
  <%= text_field_tag(:location, @old_search_params[:location]) %>

  <%= label_tag(:birthday, "Birthday:") %>
  <%= date_field_tag(:birthday, @old_search_params[:birthday]) %>

  <%= submit_tag("Search") %>
<% end %>
 
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Location</th>
    <th>Birthday</th>
    <th>Status</th>
  </tr>
 
<% @people.each do |person| %>
  <tr class="<%= @current_class %>">
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.location %></td>
    <td><%= person.birthday %></td>
    <td><%= person.status %></td>
  </tr>
  <% @current_class = @current_class.blank? ? 'alt-row' : '' %>
<% end %>
</table>
 
<br>